/*--------------------------------------------------------------
# General Section
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
}

a {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
#header {
  background: #fff9f7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: Helvetica;
}

#header .logo a {
  color: black;
}

#header .logo a span {
  color: #dc4c32;
}

#header .logo img {
  max-height: 50px;
}

#header.header-scrolled {
  padding: 12px 0;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.get-started-btn {
  margin-left: 30px;
  background: #dc4c32;
  color: white;
  padding: 8px 25px;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.get-started-btn:hover {
  background: black;
  color: white;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li:hover > a {
  color: #dc4c32;
}

.navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 600;
  color: black;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 600;
  color: black;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover {
  color: #dc4c32;
}

.navbar .active {
  color: #dc4c32;
}

.navbar .active:focus {
  color: #dc4c32;
}

@media (max-width: 991px) {
  .navbar ul {
    display: none;
  }
}

.mobile-nav-toggle {
  color: black;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
}

.mobile-nav-toggle.bi-x {
  color: white;
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff9f7;
  overflow-y: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: black;
}

.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: black;
}

.navbar-mobile a:hover {
  color: #dc4c32;
}

.navbar-mobile .active {
  color: #dc4c32;
}

.navbar-mobile li:hover > a {
  color: #dc4c32;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .getstarted:focus {
  margin: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .show-ul ul {
    display: block;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  background-size: cover;
  position: relative;
  padding-top: 82px;
}

#hero:before {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .title {
  padding-top: 50px;
  font-family: "Goudy";
  text-transform: uppercase;
  font-size: 160px;
  font-weight: 800;
}

@media screen and (max-width: 1399px) {
  #hero .title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 100px;
  }
}

@media screen and (max-width: 991px) {
  #hero .title {
    font-size: 60px;
  }
}

#hero .first-hero {
  background: url("../img/hero-bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
}

#hero .first-hero .before-title {
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  left: 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

@media (min-width: 768px) {
  #hero .first-hero .before-title {
    left: 82px;
  }
}

@media (min-width: 992px) {
  #hero .first-hero .before-title {
    left: 60px;
  }
}

@media (min-width: 1200px) {
  #hero .first-hero .before-title {
    left: 135px;
  }
}

@media (min-width: 1400px) {
  #hero .first-hero .before-title {
    top: 78px;
    left: 24px;
  }
}

#hero .first-hero .title {
  position: relative;
}

#hero .first-hero:before {
  content: "";
  background: #dc4b32c4;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .second-hero .description {
  font-size: 20px;
  color: #8f8f8f;
  font-family: "Helvetica";
}

@media (max-width: 992px) {
  #hero .second-hero .description {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  #hero .second-hero .title {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
@media (min-width: 992px) {
  #about .about-head {
    width: 70%;
  }
}

#about .about-head {
  text-align: center;
}

@media (min-width: 768px) {
  #about .about-head {
    margin-top: 100px;
  }
}

#about .about-head h1 {
  color: #1f1d1df2;
  font-size: 48px;
}

#about .about-head hr {
  margin: auto;
  height: 1px;
  width: 180px;
  color: inherit;
  border: 0;
  margin-top: 35px;
  background-color: #6d6d6d;
}

#about .about-head .short-description {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 400;
  color: #8f8c8c;
}

@media (max-width: 992px) {
  #about .about-head h1 {
    font-size: 32px;
  }
  #about .about-head .short-description {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  #about .about-head h1 {
    font-size: 20px;
  }
  #about .about-head .short-description {
    font-family: "Helvetica";
    font-size: 12px;
  }
}

#about .about-footer {
  margin-top: 100px;
}

#about .about-footer .item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  padding: 18px;
}

#about .about-footer .item .heading {
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 18px;
  color: #1f1d1d;
  font-weight: 600;
}

#about .about-footer .item .short-description {
  font-family: "Goudy";
  color: #8f8c8c;
}

#about .about-footer .item i {
  color: #dc4c32;
  font-size: 42px;
  margin-right: 18px;
}

#about .about-footer .item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 0 60px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0 60px 0 rgba(0, 0, 0, 0.1);
}

#about .about-footer .item:hover .heading {
  color: #dc4c32;
}

#about .about-footer .item:hover .short-description {
  color: black;
}

/*--------------------------------------------------------------
# Work Tab Section
--------------------------------------------------------------*/
#work-tab {
  margin: 100px 0;
}

#work-tab .row {
  height: 400px;
  overflow: scroll;
}

#work-tab .row::-webkit-scrollbar {
  display: none;
}

#work-tab .title {
  margin: 100px 0;
  font-family: "Playfair Dislay";
  font-size: 28px;
  font-weight: 800;
}

#work-tab .title span {
  background-color: #1f1d1d;
  color: white;
  padding: 5px 10px 5px 100px;
}

#work-tab .description-area .faq-list ul {
  list-style-type: none;
}

#work-tab .description-area .faq-list ul li {
  margin: 10px 0 10px 0;
}

#work-tab .description-area .faq-list ul li a.collapsed {
  color: #c2bebe;
}

#work-tab .description-area .faq-list ul li a {
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 28px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

#work-tab .description-area .faq-list ul li a:hover {
  color: black;
}

#work-tab .description-area .faq-list ul li .title {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

#work-tab .description-area .faq-list ul li .title:hover {
  font-size: 32px;
}

#work-tab .description-area .faq-list ul li .bar {
  position: relative;
}

#work-tab .description-area .faq-list ul li .bar::after {
  content: "";
  top: 30px;
  margin-left: 5px;
  height: 1px;
  width: 500px;
  background-color: #802800;
  position: absolute;
}

#work-tab .description-area .faq-list ul li p {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #7a7878;
  margin: 12px 0 18px 0;
}

#work-tab .description-area .faq-list ul li .download-btn {
  background: #dc4c32;
  color: white;
  padding: 8px 25px;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 42px;
}

#work-tab .description-area .faq-list ul li .download-btn:hover {
  background: black;
  color: white;
}

#work-tab .content-area {
  position: absolute;
}

#work-tab .content-area img {
  height: auto;
  max-height: 400px;
  width: 100%;
}

.section-my {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-bg {
  padding: 50px 0;
  color: #fff;
  background-color: #171717;
  top: 60px;
  left: 0;
  right: 0;
}

.title-red {
  color: #dc4c32;
}

body {
  font-family: Helvetica;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services .section-title {
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

#services .service-title {
  font-weight: 800;
  font-family: "Roboto";
}

#services .service-description {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin: 40px 0 40px 0;
}

#services .service-list .service-list-title {
  font-family: Helvetica;
  color: #a8a8a8;
  margin-bottom: 20px;
}

#services .service-list .service-list-items {
  font-family: "Roboto";
  padding-left: 1.5rem;
  font-weight: 500;
}

#services .service-list .service-list-items .service-list-child {
  color: #fff;
  padding-left: 15px;
  font-size: 20px;
  margin-top: 1rem;
}

#services .service-list .service-list-items .service-list-child::marker {
  color: #dc4c32;
  font-size: x-large;
}

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
#testimonial .left-img .test-img {
  text-align: center;
}

#testimonial .left-img .test-img img {
  width: 167px;
  height: 320px;
  -o-object-fit: fill;
     object-fit: fill;
}

#testimonial .row:nth-child(1) .left-img .test-img img {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

#testimonial .row:nth-child(3) .left-img .test-img img {
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

#testimonial .active .row:nth-child(2) .left-img .test-img {
  overflow: hidden;
}

#testimonial .active .row:nth-child(2) .left-img .test-img img {
  width: 250px;
}

#testimonial .active .row:nth-child(2) .right-content {
  display: block;
}

#testimonial button {
  display: block;
  opacity: 0.8;
}

#testimonial button .carousel-control-icon {
  z-index: 1;
  width: 100%;
  height: 2rem;
  position: relative;
  opacity: 1;
}

#testimonial button img {
  width: 100%;
  height: 320px;
  -o-object-fit: fill;
     object-fit: fill;
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 992px) {
  #testimonial button:before {
    content: "";
    background: #dc4c32;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
  }
}

#testimonial button:hover {
  opacity: 0.6;
}

#testimonial .right-content {
  display: none;
}

#testimonial .right-content .test-content i {
  color: #dc4c32;
  font-size: 70px;
  font-weight: 700;
  text-align: left;
}

#testimonial .right-content .test-content .test-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #8f8c8c;
}

#testimonial .right-content .test-content .test-name {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 25px;
}

#testimonial .right-content .test-content .test-designation {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 10px;
}

#testimonial .carousel-inner > .carousel-item.active,
#testimonial .carousel-inner > .carousel-item-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/*--------------------------------------------------------------
# Hello
--------------------------------------------------------------*/
#hello-content {
  background: #dc4c32;
  text-align: center;
  padding: 50px 10px;
}

#hello-content .section-title {
  color: #171717;
  font-weight: 700;
  font-family: "Helvetica";
  font-size: 48px;
}

#hello-content .section-description {
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  margin-top: 20px;
}

#hello-content .btn-hello {
  display: inline-block;
  background: transparent;
  border: 2px solid #fff;
  margin-top: 30px;
  padding: 10px 30px;
  color: #fff;
  font-family: Helvetica;
  font-weight: 700;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/
#social .social-items {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#social .social-items .social-media-link {
  margin-right: 30px;
}

#social .social-items .social-media-link a {
  background: #f5f5f5;
  border: 1px solid #d1d1d2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 28px;
  padding: 15px 30px;
  font-family: Helvetica;
  text-decoration: none;
  color: #171717;
}

#social .social-items .social-media-link a .twitter {
  background: linear-gradient(127.12deg, #28aae0 14.48%, #23b7ec 85.53%);
  color: #fff;
}

#social .social-items .social-media-link a .telegram {
  background: linear-gradient(127.12deg, #28aae0 14.48%, #23b7ec 85.53%);
  color: #fff;
}

#social .social-items .social-media-link a .instagram {
  background: linear-gradient(45deg, #ffd600 8.39%, #ff0100 50%, #d800b9 91.61%);
  color: #fff;
}

#social .social-items .social-media-link a .facebook {
  color: #0882ed;
}

#social .social-items .social-media-link a .social-media-icon {
  margin-right: 10px;
  padding: 5px;
  border-radius: 50%;
}

@media (max-width: 991px) {
  #social .social-items .social-media-link {
    padding-top: 40px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer .site-logo img {
  width: 50px;
  height: 50px;
  -o-object-fit: fill;
     object-fit: fill;
}

#footer .copyright {
  margin-top: 40px;
  font-size: 18px;
}

#footer .footer-menu .menu-title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  #footer .footer-menu .menu-title {
    margin-top: 30px;
  }
}

#footer .footer-menu .menu-items {
  list-style-type: none;
  padding-left: 0;
}

#footer .footer-menu .menu-items .menu-child {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

#footer .footer-menu .menu-items .menu-child a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */